In [21]:
# importing MongoClient
from pymongo import MongoClient

#### 1. Create a MongoDB database named ‘res_db’ and import data from ‘primer- dataset.json’ file into a collection named ‘restaurants’.

Using following command in command prompt to import the database

* mongoimport --db res_db --collection restaurants --file ./primer-dataset.json

In [22]:
# Connect to a MongoDB instance running on localhost:
client = MongoClient()# Can also specify the address and port of the server instead of default values

In [23]:
#List databases
client.list_database_names()

['admin', 'config', 'local', 'res_db']

#### 2. List all the attributes in the restaurants collection.

In [24]:
# Switching to res_db database
res_db = client.res_db

In [25]:
#Showing collections in res_db database
res_db.list_collection_names()

['restaurants']

In [26]:
#Geting a reference to a collection
restaurants = res_db.restaurants

In [27]:
# Fetching document from a collection and listing its attributes
restaurant = restaurants.find_one() # findone method that returns a single document
#looping through the restaurant to list all the attributes
for attribute in list(restaurant.keys()):
    print(attribute)

_id
address
borough
cuisine
grades
name
restaurant_id

#### 3. Count the total number of restaurants.

In [28]:
# Using count_documents method to count total restaurants in the collection
restaurants.count_documents({})

25359

#### 4. Count the number of restaurants with American cuisine.

In [29]:
# showing the object structure
restaurant = restaurants.find_one()
restaurant

{'_id': ObjectId('61545c502e4dda96db6184f5'),
 'address': {'building': '2780',
  'coord': [-73.98241999999999, 40.579505],
  'street': 'Stillwell Avenue',
  'zipcode': '11224'},
 'borough': 'Brooklyn',
 'cuisine': 'American',
 'grades': [{'date': datetime.datetime(2014, 6, 10, 0, 0),
   'grade': 'A',
   'score': 5},
  {'date': datetime.datetime(2013, 6, 5, 0, 0), 'grade': 'A', 'score': 7},
  {'date': datetime.datetime(2012, 4, 13, 0, 0), 'grade': 'A', 'score': 12},
  {'date': datetime.datetime(2011, 10, 12, 0, 0), 'grade': 'A', 'score': 12}],
 'name': 'Riviera Caterer',
 'restaurant_id': '40356018'}

In [30]:
#finding the count of restaurants with American cuisine 
restaurants.count_documents({'cuisine':'American'})

6183

#### 5. Show a cuisine-wise count of restaurants.

In [31]:
#passed a pipeline to aggregate for finding the cuisine-wise count of the restaurants
cuisine_wise_cursor = restaurants.aggregate([{"$group" : { "_id" : '$cuisine', "count" : {"$sum" : 1}}}])
for restaurant in cuisine_wise_cursor:
    # formating the output
    print(f"{restaurant['_id']} Cuisine has {restaurant['count']} restaurants")

Hotdogs/Pretzels Cuisine has 16 restaurants
Southwestern Cuisine has 9 restaurants
Barbecue Cuisine has 52 restaurants
Chinese Cuisine has 2418 restaurants
Peruvian Cuisine has 68 restaurants
Filipino Cuisine has 26 restaurants
English Cuisine has 16 restaurants
Chicken Cuisine has 410 restaurants
Pizza Cuisine has 1163 restaurants
Italian Cuisine has 1069 restaurants
Steak Cuisine has 86 restaurants
Pizza/Italian Cuisine has 468 restaurants
Afghan Cuisine has 14 restaurants
Pakistani Cuisine has 31 restaurants
Hotdogs Cuisine has 34 restaurants
Soups Cuisine has 4 restaurants
Turkish Cuisine has 70 restaurants
Fruits/Vegetables Cuisine has 7 restaurants
Cajun Cuisine has 7 restaurants
Chilean Cuisine has 1 restaurants
Scandinavian Cuisine has 7 restaurants
Creole/Cajun Cuisine has 1 restaurants
Ethiopian Cuisine has 18 restaurants
Korean Cuisine has 262 restaurants
Hamburgers Cuisine has 433 restaurants
Eastern European Cuisine has 65 restaurants
Soups & Sandwiches Cuisine has 51 restaurants
Tapas Cuisine has 28 restaurants
Tex-Mex Cuisine has 143 restaurants
Portuguese Cuisine has 8 restaurants
Other Cuisine has 1011 restaurants
Delicatessen Cuisine has 321 restaurants
Chinese/Cuban Cuisine has 16 restaurants
Irish Cuisine has 190 restaurants
Egyptian Cuisine has 14 restaurants
Polynesian Cuisine has 1 restaurants
Bagels/Pretzels Cuisine has 168 restaurants
Moroccan Cuisine has 15 restaurants
Brazilian Cuisine has 26 restaurants
Sandwiches Cuisine has 459 restaurants
Continental Cuisine has 58 restaurants
Indonesian Cuisine has 8 restaurants
Mediterranean Cuisine has 219 restaurants
Armenian Cuisine has 40 restaurants
African Cuisine has 68 restaurants
Thai Cuisine has 285 restaurants
Sandwiches/Salads/Mixed Buffet Cuisine has 255 restaurants
Russian Cuisine has 88 restaurants
Bottled beverages, including water, sodas, juices, etc. Cuisine has 72 restaurants
Vietnamese/Cambodian/Malaysia Cuisine has 66 restaurants
CafÃ©/Coffee/Tea Cuisine has 2 restaurants
Californian Cuisine has 1 restaurants
French Cuisine has 344 restaurants
Nuts/Confectionary Cuisine has 6 restaurants
Pancakes/Waffles Cuisine has 16 restaurants
Middle Eastern Cuisine has 168 restaurants
Creole Cuisine has 24 restaurants
Caribbean Cuisine has 657 restaurants
American Cuisine has 6183 restaurants
Mexican Cuisine has 754 restaurants
Iranian Cuisine has 2 restaurants
Czech Cuisine has 6 restaurants
Café/Coffee/Tea Cuisine has 1214 restaurants
German Cuisine has 31 restaurants
Not Listed/Not Applicable Cuisine has 19 restaurants
Jewish/Kosher Cuisine has 316 restaurants
Ice Cream, Gelato, Yogurt, Ices Cuisine has 348 restaurants
Japanese Cuisine has 760 restaurants
Vegetarian Cuisine has 102 restaurants
Bangladeshi Cuisine has 36 restaurants
Bakery Cuisine has 691 restaurants
Australian Cuisine has 16 restaurants
Hawaiian Cuisine has 3 restaurants
Asian Cuisine has 309 restaurants
Polish Cuisine has 25 restaurants
Indian Cuisine has 316 restaurants
Latin (Cuban, Dominican, Puerto Rican, South & Central American) Cuisine has 850 restaurants
Seafood Cuisine has 147 restaurants
Juice, Smoothies, Fruit Salads Cuisine has 273 restaurants
Spanish Cuisine has 637 restaurants
Donuts Cuisine has 479 restaurants
Greek Cuisine has 111 restaurants
Chinese/Japanese Cuisine has 59 restaurants
Salads Cuisine has 45 restaurants
Soul Food Cuisine has 44 restaurants

#### 6. Count the number of Hawaiian cuisine restaurants with grade=A.

In [32]:
#using find  to find the restaurants with cuisine as hawaiian
Hawaiian =restaurants.find({'cuisine':'Hawaiian'})
for rest in Hawaiian:
    print(rest)

{'_id': ObjectId('61545c512e4dda96db61b387'), 'address': {'building': '2245', 'coord': [-73.93600099999999, 40.795675], 'street': '1 Avenue', 'zipcode': '10029'}, 'borough': 'Manhattan', 'cuisine': 'Hawaiian', 'grades': [{'date': datetime.datetime(2014, 9, 17, 0, 0), 'grade': 'C', 'score': 29}, {'date': datetime.datetime(2014, 4, 11, 0, 0), 'grade': 'C', 'score': 12}, {'date': datetime.datetime(2013, 10, 2, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 4, 2, 0, 0), 'grade': 'C', 'score': 41}, {'date': datetime.datetime(2012, 1, 23, 0, 0), 'grade': 'A', 'score': 9}], 'name': 'Makana', 'restaurant_id': '41509012'}
{'_id': ObjectId('61545c512e4dda96db61b40a'), 'address': {'building': '360', 'coord': [-73.9854351, 40.7419304], 'street': 'Park Avenue South', 'zipcode': '10010'}, 'borough': 'Manhattan', 'cuisine': 'Hawaiian', 'grades': [{'date': datetime.datetime(2014, 6, 25, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 8, 13, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 8, 18, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'General Assembly', 'restaurant_id': '41515513'}
{'_id': ObjectId('61545c512e4dda96db61d251'), 'address': {'building': '84', 'coord': [-73.9562856, 40.7139315], 'street': 'Havemeyer Street', 'zipcode': '11211'}, 'borough': 'Brooklyn', 'cuisine': 'Hawaiian', 'grades': [{'date': datetime.datetime(2014, 11, 18, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2014, 3, 14, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Onomea', 'restaurant_id': '50002079'}

In [33]:
#counting the Hawaiian cuisine restaurants with grade=A
restaurants.count_documents({'cuisine':'Hawaiian','grades':{'$elemMatch':{"grade":'A'}}})

3

#### 7. Show cuisines having a restaurant count more than 100.

In [34]:
#Using match with $gt to find Cuisines having restaurant count more than 100.
cuisine_wise_cursor = restaurants.aggregate([{"$group" : { "_id" : '$cuisine', "count" : {"$sum" : 1}}}, 
                                             {"$match": {"count": { "$gt": 100 }}}])

In [35]:
print("Cuisines having more than 100  restaurants\n ")
for restaurant in cuisine_wise_cursor:
    # formating the output
    print(f"{restaurant['_id']} Cuisine with {restaurant['count']} restaurants")

Cuisines having more than 100  restaurants

Chinese Cuisine with 2418 restaurants
Chicken Cuisine with 410 restaurants
Pizza Cuisine with 1163 restaurants
Italian Cuisine with 1069 restaurants
Pizza/Italian Cuisine with 468 restaurants
Korean Cuisine with 262 restaurants
Hamburgers Cuisine with 433 restaurants
Tex-Mex Cuisine with 143 restaurants
Other Cuisine with 1011 restaurants
Delicatessen Cuisine with 321 restaurants
Irish Cuisine with 190 restaurants
Bagels/Pretzels Cuisine with 168 restaurants
Sandwiches Cuisine with 459 restaurants
Mediterranean Cuisine with 219 restaurants
Thai Cuisine with 285 restaurants
Sandwiches/Salads/Mixed Buffet Cuisine with 255 restaurants
French Cuisine with 344 restaurants
Middle Eastern Cuisine with 168 restaurants
Caribbean Cuisine with 657 restaurants
American Cuisine with 6183 restaurants
Mexican Cuisine with 754 restaurants
Café/Coffee/Tea Cuisine with 1214 restaurants
Jewish/Kosher Cuisine with 316 restaurants
Ice Cream, Gelato, Yogurt, Ices Cuisine with 348 restaurants
Japanese Cuisine with 760 restaurants
Vegetarian Cuisine with 102 restaurants
Bakery Cuisine with 691 restaurants
Asian Cuisine with 309 restaurants
Indian Cuisine with 316 restaurants
Latin (Cuban, Dominican, Puerto Rican, South & Central American) Cuisine with 850 restaurants
Seafood Cuisine with 147 restaurants
Juice, Smoothies, Fruit Salads Cuisine with 273 restaurants
Spanish Cuisine with 637 restaurants
Donuts Cuisine with 479 restaurants
Greek Cuisine with 111 restaurants